<div class="container">
  <div class="row">
    <div class="col-sm-12 ">

      <div class="posts">
        <% @posts.each do |p| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to p.title, p %></span>
            <p><%= p.updated_at.strftime("%Y-%m-%d") %></p>
            <span class="post-description"><%= p.body %></span>
            <%= link_to "Editar", edit_post_path(p) %>   <%= link_to 'Eliminar',  p,  method: :delete, data: { confirm: '¿Esta seguro de eliminar el post?' } %>




          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



