<div class="container">
  <div class="row">
    <div class="col-sm-12 ">

      <div class="posts">
        <% @posts.each do |p| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to p.title, p %></span>
            <p><%= p.updated_at.strftime("%Y-%m-%d") %></p>
            <span class="post-description"><%= p.body %></span>
            <div class="post-comments">
              <span class="glyphicon glyphicon-comment"></span>
              <span class="comment-count"> contador</span>
            </div>
            <% if signed_in? && p.user == current_user %>
              <div class="actions">
                <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_post_path(p) %>
                <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, p, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %>
              </div>
            
            <% end %>




          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



